<div class="content">
    <h1>You now have angular-requirejs!</h1>

    <p>This is a proof of concept project that I used to learn the basics
    for angular.js while using familiar tools</p>

    <p>I used <a target="_blank" href="//yeoman.io">Yeoman</a> with the 
    <a target="_blank" href="https://github.com/yeoman/generator-webapp">
    webapp generator</a> to start the generator.</p>

    <p>If you spot any bug, have a suggestion, or want me to know
    how bad a job I've done head to
    <a target="_blank" href="https://github.com/Velan/angular-requirejs">
      the Github repo
    </a>
    </p>

    <p>To see a list of installed featured, <a href="#/features">click here</a>.

    <p>Cheers!</p>

</div>
